{% assign url = "http://www.schumann.corecommerce.com.br/" %}

<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  style="width:100%;font-family:'Montserrat', Helvetica, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0;">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="telephone=no" name="format-detection">
  <title>Nexen - Simulação</title>
  <!--[if (mso 16)]><style type="text/css">a {text-decoration: none;}</style><![endif]-->
  <!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]-->
  <!--[if !mso]>-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900" rel="stylesheet">
  <!--<![endif]-->
  <!-- <style> @media only screen and (max-wifdth: 600px) {p, ul li, ol li, a { font-size: 12px !important } h1 { font-size: 30px !important; text-align: left } h2 { font-size: 26px !important; text-align: left } h3 { font-size: 18px !important; text-align: left } h1 a { font-size: 30px !important; text-align: left } h2 a { font-size: 26px !important; text-align: left } h3 a { font-size: 18px !important; text-align: left } .es-menu td a { font-size: 8px !important } .es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a { font-size: 14px !important } .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li, .es-footer-body a { font-size: 12px !important } .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li, .es-infoblock a { font-size: 9px !important } *[class="gmail-fix"] { display: none !important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3 { text-align: center !important } #input-box { padding-top: 0px; padding-right: 10px; padding-bottom: 10px; padding-left: 40px } #schumann-logo { padding-top: 0px; padding-bottom: 0px } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3 { text-align: right !important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3 { text-align: left !important } .es-m-txt-r a img, .es-m-txt-c a img, .es-m-txt-l a img { display: inline !important } .es-button-border { display: block !important } .es-button { font-size: 20px !important; display: block !important; border-left-width: 0px !important; border-right-width: 0px !important } .es-btn-fw { border-width: 10px 0px !important; text-align: center !important } .es-adaptive table, .es-btn-fw, .es-btn-fw-brdr, .es-left, .es-right { width: 100% !important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width: 100% !important; max-width: 600px !important } .es-adapt-td { display: block !important; width: 100% !important } .adapt-img { width: 100% !important; height: auto !important } .es-m-p0 { padding: 0px !important } .es-m-p0r { padding-right: 0px !important } .es-m-p0l { padding-left: 0px !important } .es-m-p0t { padding-top: 0px !important } .es-m-p0b { padding-bottom: 0 !important } .es-m-p20b { padding-bottom: 20px !important } .es-hidden { display: none !important } table.es-table-not-adapt, .esd-block-html table { width: auto !important } table.es-social { display: inline-block !important } table.es-social td { display: inline-block !important } }</style> -->
  <style>
    #outlook a {
      padding: 0;
    }

    .ExternalClass {
      width: 100%;
    }

    input {
      line-height: 2em;
    }

    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
      line-height: 100%;
    }

    .es-button {
      mso-style-priority: 100 !important;
      text-decoration: none !important;
    }

    a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }

    @-ms-viewport {
      width: device-width;
    }
  </style>
</head>

<body
  style="width:100%;font-family:'Montserrat', Helvetica, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0;">
  <div class="es-wrapper-color" style="background-color:#FFFFFF;">

    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td align="center">
          <table cellpadding="1" cellspacing="0" width="600">
            <tr>
              <td height="80" width="180">
                <a href="{{url}}" title="Nexen geradores">
                  <img src="{{url}}custom/content/themes/Nexen/Emails/Images/logo.png" title="Nexen geradores"
                    alt="Nexen geradores" border="0" />
                </a>
              </td>
              <td height="80" width="80">
                <a href="{{url}}/pesquisa?t=" title="Nexen geradores"
                  style="line-height:18px;font-size:12px;font-family:'Montserrat', Helvetica, sans-serif;text-decoration: none;">
                  <strong
                    style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:'Montserrat', Helvetica, sans-serif;line-height:20px;color:#231F20;">Produtos</strong>
                </a>
              </td>
              <td height="80" width="155">
                <a href="{{url}}/servicos-e-solucoes" title="Nexen geradores"
                  style="line-height:18px;font-size:12px;font-family:'Montserrat', Helvetica, sans-serif;text-decoration: none;">
                  <strong
                    style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:'Montserrat', Helvetica, sans-serif;line-height:20px;color:#231F20;">Serviços
                    e Soluçōes</strong>
                </a>
              </td>
              <td height="80" width="100">
                <a href="{{url}}/simulador" title="Nexen geradores"
                  style="line-height:18px;font-size:12px;font-family:'Montserrat', Helvetica, sans-serif;text-decoration: none;">
                  <strong
                    style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:'Montserrat', Helvetica, sans-serif;line-height:20px;color:#231F20;">Simulador
                    Solar</strong>
                </a>
              </td>
            </tr>
            <tr>
              <td height="3" style="background-color:#333333;" colspan="4"></td>
            </tr>
            <tr>
              <td style="padding:20px 0;" colspan="4">
              </td>
            </tr>
            <tr>
              <td colspan="4">
                {% block content %}
                {% endblock %}
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <a href="{{url}}/blog" title="Nexen geradores"
                  style="line-height:18px;font-size:12px;font-family:'Montserrat', Helvetica, sans-serif;text-decoration: none;">
                  <p
                    style="width:385px;Margin:40px 0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:20px;font-family:'Montserrat', Helvetica, sans-serif;line-height:25px;color:#231F20;">
                    Confira as últimas novidades sobre energia solar em nosso blog:
                  </p>
                  <img src="{{url}}custom/content/themes/Nexen/Emails/Images/blog.png" title="Nexen geradores"
                    alt="Blog Nexen" border="0" />
                </a>
              </td>
            </tr>
            <tr>
              <td width="300">
                <p
                  style="width:165px;Margin:40px 0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:20px;font-family:'Montserrat', Helvetica, sans-serif;line-height:25px;color:#231F20;">
                  Conecte-se com a nexen:
                </p>
              </td>
              <td colspan="3">
                <a href="{{url}}/blog" title="Nexen facebook" style="display: block; float:left;">
                  <img src="{{url}}custom/content/themes/Nexen/Emails/Images/facebook.png" title="Nexen geradores"
                    alt="Nexen facebook" border="0" />
                </a>
                <a href="{{url}}/blog" title="Nexen twitter" style="display: block; float:left;">
                  <img src="{{url}}custom/content/themes/Nexen/Emails/Images/twitter.png" title="Nexen geradores"
                    alt="Nexen twitter" border="0" />
                </a>
                <a href="{{url}}/blog" title="Nexen instagram" style="display: block; float:left;">
                  <img src="{{url}}custom/content/themes/Nexen/Emails/Images/instagram.png" title="Nexen geradores"
                    alt="Nexen instagram" border="0" />
                </a>
                <a href="{{url}}/blog" title="Nexen youtube" style="display: block; float:left;">
                  <img src="{{url}}custom/content/themes/Nexen/Emails/Images/youtube.png" title="Nexen geradores"
                    alt="Nexen youtube" border="0" />
                </a>
                <a href="{{url}}/blog" title="Nexen linkedin" style="display: block; float:left;">
                  <img src="{{url}}custom/content/themes/Nexen/Emails/Images/linkedin.png" title="Nexen geradores"
                    alt="Nexen linkedin" border="0" />
                </a>
              </td>
            </tr>
            <tr>
              <td height="3" style="background-color:#333333;" colspan="4"></td>
            </tr>
            <tr>
              <td colspan="4" style="padding:60px 80px;">
                <p
                  style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:13px;font-family:'Montserrat', Helvetica, sans-serif;line-height:23px;color:#767676;">
                  Para esclarecer dúvidas ou enviar sugestões, acesse nossa <a href="Central"
                    style="font-size:13px;font-family:'Montserrat', Helvetica, sans-serif;line-height:23px;color: #231F20;">Central
                    de relacionamento</a>.
                </p><br>
                <p
                  style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:13px;font-family:'Montserrat', Helvetica, sans-serif;line-height:23px;color:#767676;">
                  Validade do E-mail
                </p><br>
                <p
                  style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:13px;font-family:'Montserrat', Helvetica, sans-serif;line-height:23px;color:#767676;">
                  As ofertas anunciadas neste e-mail são válidas até 27/08/2018 às 23:59, ou enquanto durarem os
                  estoques.
                </p><br>
                <p
                  style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:13px;font-family:'Montserrat', Helvetica, sans-serif;line-height:23px;color:#767676;">
                  Preços e Condições
                </p><br>
                <p
                  style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:13px;font-family:'Montserrat', Helvetica, sans-serif;line-height:23px;color:#767676;">
                  Preços sujeitos à alteração e exclusivos para este canal de comunicação. Para ativar determinados
                  preços e promoções é necessário clicar neste e-mail. Compras feitas com cartões de crédito podem ser
                  parceladas em até 10x sem juros. Caso haja diferença de preço ou descrição do produto entre este
                  e-mail e o site, a condição válida e praticada será a do site.
                </p>
              </td>
            </tr>

          </table>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>